* { box-sizing: border-box; }
body { background: #FAFAFA;  }

.card { display: flex; flex-direction: column; width: 350px; background: white; padding: 10px; border-radius: 10px; box-shadow: 0 0 5px #555A; gap: 5px; }
.card-header { display: flex; justify-content: space-between; }
.card-name { font-weight: bold; }
.card-cost { display: flex; align-items: center; font-weight: bold; font-size: 1.2rem;}
.card-group { display: flex; flex-direction: column; }
.card-artwork { width: 100%; border-radius: 7px; }
.card-type { font-size: .8rem; }
.card-effect { display: flex; flex-direction: column; border: 1px solid black; border-radius: 7px; padding: 7px; background: #FFA; }
.card-keyword { font-size: .8rem;  }
.card-keyword:before { content: '#'; }
